<main>
  <header class="header">
    <h1>Termos de Uso</h1>
    <div class="separator">
      <div class="part brown"></div>
      <div class="part cyan"></div>
    </div>
  </header>
  <section class="content">
    <ol>
      <li>
        <h2 class="item-title">Introdução:</h2>
        <p class="intro-content">
          Bem-vindo à Fitstore, sua loja de equipamentos fitness. Ao acessar
          nosso site e utilizar nossos serviços, você concorda com os seguintes
          Termos de Uso. Leia atentamente antes de prosseguir.
        </p>
      </li>
      <li>
        <h2 class="item-title">Cadastro e Conta do Usuário:</h2>
        <ol>
          <li>
            <p>
              Para realizar compras, o usuário pode precisar criar uma conta
              fornecendo informações verdadeiras e atualizadas.
            </p>
          </li>
          <li>
            <p>
              O usuário é responsável por manter a confidencialidade de seus
              dados de acesso.
            </p>
          </li>
          <li>
            <p>
              Nos reservamos o direito de suspender ou cancelar contas que
              violem estes termos.
            </p>
          </li>
        </ol>
      </li>
      <li>
        <h2 class="item-title">Produtos e Compras:</h2>
        <ol>
          <li>
            <p>
              Os produtos disponíveis estão sujeitos à disponibilidade de
              estoque.
            </p>
          </li>
          <li>
            <p>
              As descrições e imagens dos produtos são ilustrativas e podem
              sofrer variações.
            </p>
          </li>
          <li>
            <p>
              Reservamo-nos o direito de corrigir eventuais erros de preços e
              descrições sem aviso prévio.
            </p>
          </li>
        </ol>
      </li>
      <li>
        <h2 class="item-title">Pagamentos e Segurança:</h2>
        <ol>
          <li>
            <p>
              Aceitamos diversas formas de pagamento, conforme indicado no site.
            </p>
          </li>
          <li>
            <p>
              Todas as transações são protegidas por criptografia para garantir
              a segurança dos dados.
            </p>
          </li>
          <li>
            <p>
              Em caso de pagamento não autorizado ou suspeito, a compra poderá
              ser cancelada.
            </p>
          </li>
        </ol>
      </li>
      <li>
        <h2 class="item-title">Envio e Entrega:</h2>
        <ol>
          <li>
            <p>
              O prazo de entrega varia conforme a localização e disponibilidade
              do produto.
            </p>
          </li>
          <li>
            <p>
              Não nos responsabilizamos por atrasos decorrentes de fatores
              externos, como greves ou problemas logísticos.
            </p>
          </li>
          <li>
            <p>
              O cliente deve conferir a mercadoria no ato da entrega e comunicar
              eventuais problemas em até 7 dias.
            </p>
          </li>
        </ol>
      </li>
      <li>
        <h2 class="item-title">Trocas e Devoluções:</h2>
        <ol>
          <li>
            <p>
              O cliente tem até 7 dias corridos para solicitar a devolução de um
              produto, conforme o Código de Defesa do Consumidor.
            </p>
          </li>
          <li>
            <p>
              O produto deve estar em perfeitas condições, sem sinais de uso, e
              em sua embalagem original.
            </p>
          </li>
          <li>
            <p>
              Reservamo-nos o direito de recusar devoluções que não atendam a
              esses requisitos.
            </p>
          </li>
        </ol>
      </li>
      <li>
        <h2 class="item-title">Uso do Site:</h2>
        <ol>
          <li>
            <p>
              O usuário compromete-se a não utilizar o site para atividades
              ilícitas.
            </p>
          </li>
          <li>
            <p>
              É proibida a reprodução não autorizada de qualquer conteúdo do
              site.
            </p>
          </li>
          <li>
            <p>
              Podemos modificar ou suspender o site a qualquer momento sem aviso
              prévio.
            </p>
          </li>
        </ol>
      </li>
      <li>
        <h2 class="item-title">Privacidade e Proteção de Dados:</h2>
        <ol>
          <li>
            <p>
              Coletamos e armazenamos dados pessoais conforme nossa Política de
              Privacidade.
            </p>
          </li>
          <li>
            <p>
              Os dados do usuário não serão compartilhados com terceiros sem
              consentimento, salvo por exigência legal.
            </p>
          </li>
        </ol>
      </li>
      <li>
        <h2 class="item-title">Disposições Gerais:</h2>
        <ol>
          <li>
            <p>
              Estes termos podem ser atualizados periodicamente, sendo
              responsabilidade do usuário revisá-los.
            </p>
          </li>
          <li>
            <p>Em caso de dúvidas, entre em contato com nosso atendimento.</p>
          </li>
        </ol>
      </li>
      <li>
        <h2 class="item-title">Legislação Aplicável:</h2>
        <ol>
          <li>
            <p>Estes Termos de Uso são regidos pelas leis brasileiras.</p>
          </li>
          <li>
            <p>
              Qualquer litígio será resolvido no foro da comarca do
              [Cidade/Estado], salvo disposição legal em contrário.
            </p>
          </li>
        </ol>
      </li>
    </ol>
    <p class="info">
      Agradecemos por escolher a Fitstore para sua jornada fitness!
    </p>
  </section>
</main>
