<main>
  <header class="header">
    <h1>Perguntas frequentes</h1>
    <div class="separator">
      <div class="part brown"></div>
      <div class="part cyan"></div>
    </div>
  </header>
  <section class="content">
    <ol>
      <li>
        <p>
          <strong>Esse site é real?</strong> Não. É apenas um projeto para fins
          de estudo e aprendizado. Nenhum informação de cartão é salva, os
          pagamentos são simulados, e, portanto, nenhuma forma de pagamento real
          é realizada. Qualquer parte do site (Política de Privacidade, Termos
          de uso, etc.) foi feita apenas para se assemelhar à um site real.
        </p>
      </li>
      <li>
        <p>
          <strong>Quais formas de pagamento vocês aceitam?</strong> Aceitamos
          cartões de crédito, débito, Pix e boleto bancário.
        </p>
      </li>
      <li>
        <p>
          <strong>Qual é o prazo de entrega?</strong> O prazo varia de acordo
          com a sua localidade e o produto adquirido. Informações específicas
          são fornecidas durante o processo de compra.
        </p>
      </li>
      <li>
        <p>
          <strong>Vocês realizam entregas para todo o Brasil?</strong> Sim,
          entregamos em todas as regiões do Brasil por meio de transportadoras
          parceiras e dos Correios.
        </p>
      </li>
      <li>
        <p>
          <strong>Posso trocar um produto?</strong> Sim. De acordo com nosso
          Termo de Uso, trocas podem ser feitas dentro do prazo de 7 dias após o
          recebimento, desde que o produto esteja em perfeitas condições.
        </p>
      </li>
      <li>
        <p>
          <strong>O equipamento tem garantia?</strong> Sim, todos os nossos
          produtos têm garantia contra defeitos de fabricação. O prazo pode
          variar conforme o fabricante.
        </p>
      </li>
    </ol>
  </section>
</main>
