<main>
  <header>
    <h1>Sobre nós</h1>
    <div class="separator">
      <div class="part brown"></div>
      <div class="part cyan"></div>
    </div>
  </header>
  <section class="content">
    <p>
      Somos uma loja especializada em equipamentos fitness, dedicada a oferecer
      produtos de qualidade e atendimento de excelência. Nosso objetivo é ajudar
      você a conquistar uma vida mais saudável, com praticidade e confiança.
    </p>
    <p>
      Na Fitstore, acreditamos que um estilo de vida saudável começa com os
      melhores equipamentos fitness. Nossa missão é fornecer produtos de alta
      qualidade que ajudem você a alcançar seus objetivos de saúde e bem-estar.
      Trabalhamos com as melhores marcas do mercado e garantimos um atendimento
      de excelência para tornar sua experiência de compra a melhor possível.
      Seja para treinar em casa ou equipar sua academia, estamos aqui para
      ajudar você a se superar a cada dia!
    </p>
  </section>
</main>
