<main>
  <header class="header">
    <h1>Política de Privacidade</h1>
    <div class="separator">
      <div class="part brown"></div>
      <div class="part cyan"></div>
    </div>
  </header>
  <section class="content">
    <ol>
      <li>
        <p>
          <strong>Coleta de Dados:</strong> Coletamos dados pessoais como nome,
          e-mail, endereço e informações de pagamento quando você realiza uma
          compra ou cria uma conta.
        </p>
      </li>
      <li>
        <p>
          <strong>Uso das Informações:</strong> Utilizamos seus dados para
          processar pedidos, melhorar sua experiência de navegação e enviar
          comunicações sobre promoções e atualizações, mediante seu
          consentimento.
        </p>
      </li>
      <li>
        <p>
          <strong>Compartilhamento:</strong> Não compartilhamos seus dados com
          terceiros, exceto quando necessário para operações logísticas ou
          exigido por lei.
        </p>
      </li>
      <li>
        <p>
          <strong>Segurança:</strong> Adotamos medidas de segurança para
          proteger suas informações contra acessos não autorizados, alterações
          ou divulgações.
        </p>
      </li>
      <li>
        <p>
          <strong>Direitos do Usuário:</strong> Você pode acessar, corrigir ou
          excluir seus dados pessoais a qualquer momento, entrando em contato
          conosco.
        </p>
      </li>
    </ol>
    <p class="info">
      Ao utilizar nosso site, você concorda com esta Política de Privacidade.
      Podemos atualizá-la periodicamente, e recomendamos que revise esta página
      regularmente.
    </p>
  </section>
</main>
