<div class="password-container">
  <h2 class="title">Mudar senha</h2>
  <form [formGroup]="form">
    <div class="controls">
      <div class="row">
        <div class="control">
          <label for="currentPassword">Senha atual:</label>
          <input
            id="currentPassword"
            type="Password"
            formControlName="currentPassword"
            [class.invalid]="currentPasswordIsInvalid"
          />
          @if (currentPasswordIsInvalid) {
            <div class="errors">
              <p>Senha atual deve ter no mínimo 6 dígitos.</p>
            </div>
          }
        </div>
        <div class="control">
          <label for="newPassword">Nova senha:</label>
          <input
            id="newPassword"
            type="password"
            formControlName="newPassword"
            [class.invalid]="newPasswordIsInvalid"
          />
          @if (newPasswordIsInvalid) {
            <div class="errors">
              <p>Nova senha deve ter no mínimo 6 dígitos.</p>
            </div>
          }
        </div>
      </div>
      <div class="row">
        <div class="control">
          <label for="confirmNewPassword">Confirmar senha:</label>
          <input
            id="confirmNewPassword"
            type="password"
            formControlName="confirmNewPassword"
            [class.invalid]="confirmNewPasswordIsInvalid"
          />
          @if (confirmNewPasswordIsInvalid) {
            <div class="errors">
              <p>Senhas devem ser iguais.</p>
            </div>
          }
        </div>
      </div>
    </div>
    <button class="save-button hover-bg-red" (click)="onChangePassword()">
      <fa-icon [icon]="faFloppyDisk"></fa-icon>
      Salvar
    </button>
  </form>
</div>
