<footer>
  <div class="row">
    <figure class="logo">
      <img
        src="assets/images/logo/logo.png"
        alt="Logo image"
        width="50"
        height="50"
      />
      <figcaption>Fitstore</figcaption>
    </figure>
    <nav class="additional-info">
      <ul>
        <li><a routerLink="/about-us">Sobre</a></li>
        <li><a routerLink="/privacy-policy">Política de privacidade</a></li>
        <li><a routerLink="/terms-of-use">Termos de uso</a></li>
        <li><a routerLink="/contact">Contato</a></li>
        <li><a routerLink="/asked-questions">Perguntas frequentes</a></li>
      </ul>
    </nav>
  </div>
  <hr class="rule" />
  <p class="copyright">Fitstore, 2025, Todos os direitos reservados.</p>
</footer>
