<main>
  <section class="main-container">
    <h1 class="title">Crie uma conta</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="controls">
        <div class="row">
          <div class="control">
            <label for="name">Nome:</label>
            <input
              id="name"
              type="text"
              formControlName="name"
              [class.invalid]="nameIsInvalid"
            />
            @if (nameIsInvalid) {
              <div class="errors">
                <p>Nome é obrigatório e deve conter no mínimo 6 dígitos.</p>
              </div>
            }
          </div>
          <div class="control">
            <label for="email">Email:</label>
            <input
              id="email"
              type="email"
              formControlName="email"
              [class.invalid]="emailIsInvalid"
            />
            @if (emailIsInvalid) {
              <div class="errors">
                <p>Insira um email válido.</p>
              </div>
            }
          </div>
        </div>
        <div class="row">
          <div class="control">
            <label for="cpf">Cpf:</label>
            <input
              id="cpf"
              type="cpf"
              formControlName="cpf"
              mask="000.000.000-00"
              [class.invalid]="cpfIsInvalid"
            />
            @if (cpfIsInvalid) {
              <div class="errors">
                <p>Cpf é obrigatório e deve conter 11 dígitos.</p>
              </div>
            }
          </div>
          <div class="control">
            <label for="tel">Número de telefone:</label>
            <input
              id="tel"
              type="tel"
              formControlName="tel"
              mask="(00) 00000-0000"
              [class.invalid]="telIsInvalid"
            />
            @if (telIsInvalid) {
              <div class="errors">
                <p>Telefone é obrigatório e deve conter 11 dígitos.</p>
              </div>
            }
          </div>
        </div>
        <div class="row">
          <div class="control">
            <label for="street">Rua:</label>
            <input
              id="street"
              type="street"
              formControlName="street"
              [class.invalid]="streetIsInvalid"
            />
            @if (streetIsInvalid) {
              <div class="errors">
                <p>Rua é obrigatório.</p>
              </div>
            }
          </div>
          <div class="control">
            <label for="address">nº:</label>
            <input
              id="houseNumber"
              type="houseNumber"
              formControlName="houseNumber"
              [class.invalid]="houseNumberIsInvalid"
            />
            @if (houseNumberIsInvalid) {
              <div class="errors">
                <p>Número da casa é obrigatório.</p>
              </div>
            }
          </div>
        </div>
        <div class="row">
          <div class="control">
            <label for="complement">Complemento:</label>
            <input
              id="complement"
              type="complement"
              formControlName="complement"
            />
          </div>
          <div class="control">
            <label for="neighborhood">Bairro:</label>
            <input
              id="neighborhood"
              type="neighborhood"
              formControlName="neighborhood"
              [class.invalid]="neighborhoodIsInvalid"
            />
            @if (neighborhoodIsInvalid) {
              <div class="errors">
                <p>Bairro é obrigatório.</p>
              </div>
            }
          </div>
        </div>
        <div class="row">
          <div class="control">
            <label for="city">Cidade:</label>
            <input
              id="city"
              type="city"
              formControlName="city"
              [class.invalid]="cityIsInvalid"
            />
            @if (cityIsInvalid) {
              <div class="errors">
                <p>Cidade é obrigatório.</p>
              </div>
            }
          </div>
          <div class="control">
            <label for="state">Estado:</label>
            <input
              id="state"
              type="state"
              formControlName="state"
              [class.invalid]="stateIsInvalid"
            />
            @if (stateIsInvalid) {
              <div class="errors">
                <p>Estado é obrigatório.</p>
              </div>
            }
          </div>
        </div>
        <div class="row">
          <div class="control">
            <label for="cep">Cep:</label>
            <input
              id="cep"
              type="cep"
              formControlName="cep"
              mask="00000-000"
              [class.invalid]="cepIsInvalid"
            />
            @if (cepIsInvalid) {
              <div class="errors">
                <p>Cep é obrigatório.</p>
              </div>
            }
          </div>
          <div class="control">
            <label for="password">Senha:</label>
            <input
              id="password"
              type="password"
              formControlName="password"
              [class.invalid]="passwordIsInvalid"
            />
            @if (passwordIsInvalid) {
              <div class="errors">
                <p>Senha deve ter no mínimo 6 dígitos.</p>
              </div>
            }
          </div>
        </div>
        <div class="row">
          <div class="control">
            <label for="confirmPassword">Confirmar senha:</label>
            <input
              id="confirmPassword"
              type="password"
              formControlName="confirmPassword"
              [class.invalid]="confirmPasswordIsInvalid"
            />
            @if (confirmPasswordIsInvalid) {
              <div class="errors">
                <p>Senhas devem ser iguais.</p>
              </div>
            }
          </div>
        </div>
      </div>
      <button class="button hover-bg-red">Criar conta</button>
    </form>
  </section>
</main>
