<main>
  <header>
    <h1>Contato</h1>
    <div class="separator">
      <div class="part brown"></div>
      <div class="part cyan"></div>
    </div>
  </header>
  <section class="content">
    <p>
      Se você tiver dúvidas, sugestões ou precisar de suporte, entre em contato
      conosco por um dos canais abaixo:
    </p>
    <div class="contact-types">
      <p class="contact">Email: <span>fitstore&#64;contato.com</span></p>
      <p class="contact">Telefone/Whatsapp: <span>(01) 12345-6789</span></p>
      <p class="contact">
        Endereço: <span>Rua João Silva, 784 - São João - São Paulo/SP.</span>
      </p>
      <p class="contact">
        Horário de Atendimento: <span>Segunda a Sexta, das 9h às 18h.</span>
      </p>
    </div>
  </section>
</main>
